<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="roles">Role Permission Manager</a>
  <img src="/images/QQLogo.png" height="40" alt="QinetiQ Logo" loading="lazy"/>
  <% if(user) { %>
    <a class="nav-link" href="logout" style="color: white"> <%= user.username %> (Logout) </a> <%
    }%> <% if(!user) { %>
    <a class="nav-link" href="/" style="color: white"> Login </a>
    <a class="nav-link" href="register" style="color: white"> Register </a>
    <% } %>
  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  </div>
</header>