<footer class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <div class="container-fluid">
      <p class="float-left text-white">
        <style>
            p {
                color: white;
            }
            </style>
        <p>QinetiQ 2023.</p>
        <a href="https://www.qinetiq.com/en/">QinetiQ Website</a>
      </p>
    </div>
  </footer>